begin tran

delete from ActDocument
from ActDocument d
join Act a on a.ActID=d.ActID
where
	a.OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from Document
from Document d
join DocumentGroup g on g.DocumentGroupID=d.DocumentGroupID
where
	g.OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from DocumentGroup
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from Note
from Note d
join Act a on a.ActID=d.ActID
where
	a.OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from ActHistory
from ActHistory d
join Act a on a.ActID=d.ActID
where
	a.OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from Step
from Step d
join Act a on a.ActID=d.ActID
where
	a.OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from ActAction
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from StateHistory
from StateHistory d
join Act a on a.ActID=d.ActID
where
	a.OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from State
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from PaymentDataSettings
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from Layout
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')


delete from Act
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from Category
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')


delete from ExpenseCost
from ExpenseCost d
join Expense a on a.ExpenseID=d.ExpenseID
where
	a.OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')


delete from Cost
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from Expense
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from ActListSetting
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from EmployeeOffices
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from Employee
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

delete from OfficeTerritorialUnit
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

ALTER TABLE dbo.TerritorialUnit
NOCHECK CONSTRAINT FK_TerritorialUnit_TerritorialUnit_ParentID

delete from TerritorialUnit
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

ALTER TABLE dbo.TerritorialUnit
CHECK CONSTRAINT FK_TerritorialUnit_TerritorialUnit_ParentID

delete from Office
where
	OfficeID in ('{1C772722-6594-4CA5-9452-11298B706C73}', '{578AA221-15FD-4D65-BA66-66963EC0BE29}', '{46CAEDFD-8241-4929-9D10-F0E47BB0A19C}')

if (@@error=0)
	commit tran
else
	rollback tran
