<?xml version="1.0" encoding="utf-8" ?>
<parameters>
	<parameter Name="Font" Value="14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif"></parameter>
	<parameter Name="Base Color" Value="#1279C0" Type="Color"></parameter>
	<parameter Name="Gradient Start Color" Value="rgba(29,133,205,1)" Type="RgbaColor" Base="Base Color" Expression="1,0.945,1.066"></parameter>
	<parameter Name="Gradient End Color" Value="rgba(8,108,179,1)" Type="RgbaColor" Base="Base Color" Expression="1,1.055,0.933"></parameter>
	<parameter Name="Border Color" Value="#0A67A8" Type="Color" Base="Base Color" Expression="1,1.033,0.88"></parameter>
	<parameter Name="Link Color" Value="#045CAD" Type="Color" Base="Base Color" Expression="1,1.077,0.907"></parameter>
	<parameter Name="Shadow Color" Value="rgba(10,103,168,1)" Type="RgbaColor" Base="Base Color" Expression="1,1.033,0.88"></parameter>
	<parameter Name="Alt Color" Value="#EEF6FB" Type="Color" Base="Base Color" Expression="1,0.055,1.307"></parameter>
</parameters>
